.carousel {
    position: absolute;
    top: 500px;
    width: 100%;
  }
  
  .carousel-images {
    position: relative;
    height: 600px;
    max-width: 100%;
    overflow: hidden;
  }
  
  .carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-item {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
  }
  
  .overlay h2 {
    margin-bottom: 10px;
    font-size: 30px;
    text-shadow: -2px -2px 2px rgba(231, 119, 44, 0.881), 2px -2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Adjust font size as needed */
  }
  
  .explore-button {
    background-color: #e98e43;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .slide_direction {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  
  .left,
  .right {
    background-color: #4ba3bb75;
    color: #f9f9f9;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .left {
    margin-left: 10px;
  }
  
  .right {
    margin-right: 10px;
  }
  
  .carousel-indicator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .dot {
    background-color: #bca7a7;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .active {
    background-color: #58acb3;
  }
  