.medal{
position: relative;
top: -170px;
left: 530px;
z-index: 2 !important; 
}

/* styles.css */
div .MuiSvgIcon-root.medal {
    font-size: 7rem;  /* Adjust the size as needed */
    z-index: 2 !important; 
  }

  .price-description{
    font-weight: bold;
    position: relative;
    top: 160px;
    left:220px;
  }

  .price-status{
    position: relative;
    top: 260px;
    left:230px;
  }

  .tag1{
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 30px;
    left:330px
  }

  .tag2{
    font-weight: bold;
    position: absolute;
    font-size: 50px;
    top: 50px;
    left:250px
  }

  .gif{
    position: absolute;
    top: 100px;
    z-index: 1;
  }