/* .video-about {
    position: absolute !important;
    z-index: 1 !important; 
    height: 40vh !important; 
    top: 30px !important;
    left: 0 !important;
    margin-left: 310px !important;
    padding: 0 !important;
    border-radius: 1rem;
} */